/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*font-size: 100%;*/
    vertical-align: middle;
    background: transparent;
}
*{
    box-sizing: border-box;
}
body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
input::-webkit-input-placeholder{
    color:#CCC;
    font-size: 14px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#CCC;
    font-size: 14px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#CCC;
    font-size: 14px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#CCC;
    font-size: 14px;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select,button {
    vertical-align: middle;
    outline: none;
}
a{
    text-decoration:none;
}

/**
  *html5的一些reset
  *
  */

/*去掉点击区域透明层*/
a,button,input{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    border: 0;
}

i,b,em{
    font-style: normal;
    font-weight :normal;
}
body, button,input,  select, textarea {
    font: 400 1rem/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei !important;
}
/* 清楚浮动 */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  .el-message-box__title{
    font-size: 16px;
  }
   .el-button:focus, .el-button:hover {
    color: #386b88;
    border-color: #d4eaf6;
    background-color: #d4eaf6;
}
.el-message-box .el-button--primary,.el-message-box .el-button--primary{
    background: #386b88;
    border-color: #386b88;
    color: #fff;
}
.el-message-box .el-button--primary:hover,.el-message-box .el-button--primary:hover {
    background: #82a9bf;
    border-color: #82a9bf;
    color: #fff;
}
.el-button--small, .el-button--small.is-round {
    padding: 3px 13px;
}
.el-input .el-input__inner{
    height: 26px;
}
.el-input .el-input__icon{
    line-height: 30px;
}
  /* 引入字体文件 */
  @font-face {
    font-family: pictos;
    src:url("./iconfont.ttf");
}
* {
    font-family: "Microsoft YaHei",Arial,Helvetica, Tahoma;
}
.icon{
    font-family:pictos;
}